
<flex-mx-panel title="User Profile" status="{user.username}"> 
 <flex-mx-metadata> 
 </flex-mx-metadata>
 <flex-mx-form enabled="{user != null}"> 
  <div class="form-group row d-flex justify-content-between"> 
   <label class="col-form-label text-right p-1 flex-fill " style="padding-right: 5px">First Name</label> 
   <flex-mx-text-input label="" id="first" text="{user.fname}"> 
   </flex-mx-text-input>
  </div>
  <div class="form-group row d-flex justify-content-between"> 
   <label class="col-form-label text-right p-1 flex-fill " style="padding-right: 5px">Last Name</label> 
   <flex-mx-text-input label="" id="last" text="{user.lname}"> 
   </flex-mx-text-input>
  </div>
  <div class="form-group row d-flex justify-content-between"> 
   <label class="col-form-label text-right p-1 flex-fill " style="padding-right: 5px">Email</label> 
   <flex-mx-text-input label="" id="email" text="{user.email}"> 
   </flex-mx-text-input>
  </div>
  <div class="form-group row d-flex justify-content-between"> 
   <label class="col-form-label text-right p-1 flex-fill " style="padding-right: 5px">Username</label> 
   <flex-mx-text-input label="" id="username" enabled="{mode == MODE_ADD}" text="{user.username}"> 
   </flex-mx-text-input>
  </div>
  <div class="form-group row d-flex justify-content-between"> 
   <label class="col-form-label text-right p-1 flex-fill " style="padding-right: 5px">Password</label> 
   <flex-mx-text-input label="" id="password" text="{user.password}" displayAsPassword="true"> 
   </flex-mx-text-input>
  </div>
  <div class="form-group row d-flex justify-content-between"> 
   <label class="col-form-label text-right p-1 flex-fill " style="padding-right: 5px">Confirm Password</label> 
   <flex-mx-text-input label="" id="confirm" text="{user.password}" displayAsPassword="true"> 
   </flex-mx-text-input>
  </div>
  <div class="form-group row d-flex justify-content-between"> 
   <label class="col-form-label text-right p-1 flex-fill " style="padding-right: 5px">Department</label> 
   <flex-mx-combo-box id="department" labelField="value" selectedIndex="{user.department.ordinal+1}" dataProvider="{ DeptEnum.comboList }" enabled="{user != null}"> 
   </flex-mx-combo-box>
  </div>
 </flex-mx-form>
 <flex-mx-control-bar horizontalAlign="right"> 
  <flex-mx-button id="submitButton" click="submit()" label="{ ( mode == MODE_ADD )?'Add User':'Update Profile' }" enabled="{ enableSubmit( username.text, confirm.text, password.text, department.selectedItem  ) }"> 
  </flex-mx-button>
  <flex-mx-button label="Cancel" click="cancel()" enabled="{user != null}"> 
  </flex-mx-button>
 </flex-mx-control-bar>
</flex-mx-panel>

